DATABASE_URL="mongodb+srv://i230739_db_user:fVdZDcHFgj5tpcTe@smartwardobe.ozjmiic.mongodb.net/SmartWardobe?retryWrites=true&w=majority"
MONGODB_URI="mongodb+srv://i230739_db_user:fVdZDcHFgj5tpcTe@smartwardobe.ozjmiic.mongodb.net/SmartWardobe?retryWrites=true&w=majority"
NEXTAUTH_SECRET="b8f3mQv9sJ2kL7xR4nT6pW1cZ8aH5uY0dE3fG9vB2mN6qL1sD7xJ4cP8tR0wE5"
NEXTAUTH_URL="http://localhost:3000"